
<br>
<br>
<br>


    <div class="form-group">
        <form [routerLink]="['/storeform']" class="p-5 contact-form">
            <input (click)="newStore()" *ngIf="loginService.isAdmin()" type="submit" value="Añadir Local" class="btn py-3 px-4 btn-primary float-right botonDerecha">
        </form>




      <section class="ftco-section">
      <div class="container">
          <div id="locals">
        <div class="row d-flex">
          <div class="col-md-3 d-flex">
          	<div class="blog-entry justify-content-end">
              <div class="text" *ngFor="let store of stores">
                <h3 class="heading"><a (click)="navigatetoStore(store.id)">{{store.name}}</a></h3>
                <div class="meta mb-3">
                  <br>

                </div>
                <a (click)="navigatetoStore(store.id)" class="block-20 img" style="background-image: url(../../../assets/images/alex.jpg);">
	              </a>
                <p>{{store.frontdescription}}</p>
              </div>
            </div>
          </div>



        </div>
              </div>
          <div id="hasNextPage2">
              <ul class="pagination justify-content-center pagination-sm" id="button-replace">


                  <button class="btn btn-accent" id="load-more2">Cargar más</button>

              </ul>
          </div>
      </div>
    </section>

