
<br>
<br>
<br>
<br>

<div class="form-group">
    <button *ngIf="loginService.isAdmin()" class="btn py-3 px-4 btn-danger float-right botonDerecha" (click)="deleteStore(store.id)">Eliminar Local</button>
    <br>
    <br>
  </div>




<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-last">
                <h1 class="mb-3">{{store.name}}</h1>
                <p>{{store.description}}</p>
                <p>
                    <img src='https://localhost:8443/api/store/{{store.id}}/image1' alt="" class="img-fluid">
                </p>
                <h2 class="mb-3 mt-5">Servicios</h2>
                <p>{{store.services}}</p>
                <p>

                    <img src='https://localhost:8443/api/store/{{store.id}}/image2' alt="" class="img-fluid">

                </p>
                <h3>Cuándo y dónde estamos</h3>
                <p><b>Horario:</b></p>
                <p>De {{store.openHour}} a {{store.closeHour}}, de {{store.openDay}} a {{store.closeDay}}</p>
                <p><b>Dirección:</b></p>
                <p>{{store.street}}</p>
                <div>
                    <h3>Ubicación</h3>
                    <app-map></app-map>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div>

                    <div class="pt-5 mt-5">
                        <h3 class="mb-5">Opiniones</h3>

                        <ul class="comment-list">
                            <li class="comment" *ngFor="let comment of comments">
                                <div class="vcard bio">
                                    <img src="https://localhost:8443/api/comments/{{comment.id}}/image" alt="">
                                </div>
                                <div class="comment-body">
                                    <h3>{{comment.name}}</h3>
                                    <div class="meta">{{comment.date}}</div>
                                    <p>{{comment.text}}</p>
                                </div>
                            </li>
                        </ul>



                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Deja tu comentario</h3>
                            <form action="/createCommentLocal/3" method="post" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="message">Comentario</label>
                                    <input
                                    [(ngModel)]="comment.text"
                                    name="text"
                                    id="message" cols="30"
                                    rows="10"
                                    class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <input
                                    (click)="newCommentStore()"
                                    type="submit"
                                    value="Enviar Comentario"
                                    class="btn py-3 px-4 btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
                <div class="col-md-4 sidebar ftco-animate">

                </div>

            <div class="col-md-4 sidebar ">

            </div>
        </div>
    </div>
 <!-- .section -->

