
<br>
<br>
<br>
<br>

<li>
  <button *ngIf="loginService.isAdmin()" class="btn btn-primary navbar-btn float-right botonDerecha" type="button">Eliminar Local</button>
</li>




<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-last">
                <h1 class="mb-3">{{store.name}}</h1>
                <p>{{store.description}}</p>
                <p>
                    <img src='https://localhost:8443/api/store/{{store.id}}/image1' alt="" class="img-fluid">
                </p>
                <h2 class="mb-3 mt-5">Servicios</h2>
                <p>{{store.services}}</p>
                <p>

                    <img src='https://localhost:8443/api/store/{{store.id}}/image2' alt="" class="img-fluid">

                </p>
                <h3>Cuándo y dónde estamos</h3>
                <p><b>Horario:</b></p>
                <p>De {{store.openDay}} a {{store.closeDat}}, de {{store.openHour}} a {{store.closeHour}}</p>
                <p><b>Dirección:</b></p>
                <p>{{store.street}}</p>

                <div>

                  <!--
                    <script>
                        var lati = "-3.6001000"
                        var len = "40.1536000"
                        var map = L.map('map').
                              //latitude      length
                        setView([parseFloat(lati),parseFloat(len)],
                            15);
                        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                            maxZoom: 18
                        }).addTo(map);

                        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                            maxZoom: 18
                        }).addTo(map);

                        L.control.scale().addTo(map);
                                 //latitude     length
                        L.marker([parseFloat(lati),parseFloat(len)],{draggable: true}).addTo(map);
                    </script>
                </div>
                -->
<!--
                <div class="pt-5 mt-5">
                    <h3 class="mb-5">Opiniones</h3>

                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="/comment/{{id}}" alt="">
                            </div>
                            <div class="comment-body">
                                <h3>{{name}}</h3>
                                <div class="meta">{{date}}</div>
                                <p>{{text}}</p>
                            </div>
                        </li>
                    </ul>




                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Deja tu comentario</h3>
                        <form action="/createCommentLocal/3" method="post" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="message">Comentario</label>
                                <input name="text" id="message" cols="30" rows="10" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="_csrf" value="">
                                <input type="submit" value="Enviar Comentario" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>

                </div>
            </div>  .col-md-8 -->

            <div class="col-md-4 sidebar ">

            </div>
        </div>
    </div>
 <!-- .section -->

