
<br>
<br>
<br>
<br>

<div class="form-group">
    <form action="/removeLocal/3" class="p-5 contact-form">
        <input type="submit" value="Eliminar Local" class="btn py-3 px-4 btn-danger float-right botonDerecha">
    </form>



<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-last">
                <h1 class="mb-3">Nombre</h1>
                <p>Descripcion</p>
                <p>
                    <img src="assets\images\Baloncesto.jpg" alt="" class="img-fluid">
                </p>
                <h2 class="mb-3 mt-5">Servicios</h2>
                <p>Servicios</p>
                <p>
   
                    <img src="assets\images\Baloncesto.jpg" alt="" class="img-fluid">

                </p>
                <h3>Cuándo y dónde estamos</h3>
                <p><b>Horario:</b></p>
                <p>De Lunes a Viernes, de 12 a 18</p>
                <p><b>Dirección:</b></p>
                <p>Tu casa</p>

                <div>
                    <div id = 'map'></div>

                    <script>
                        var lati = "{{local.latitude}}"
                        var len = "{{local.length}}"
                        var map = L.map('map').
                              //latitude      length
                        setView([parseFloat(lati),parseFloat(len)],
                            15);
                        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                            maxZoom: 18
                        }).addTo(map);

                        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                            maxZoom: 18
                        }).addTo(map);

                        L.control.scale().addTo(map);
                                 //latitude     length
                        L.marker([parseFloat(lati),parseFloat(len)],{draggable: true}).addTo(map);
                    </script>
                </div>
<!--
                <div class="pt-5 mt-5">
                    <h3 class="mb-5">Opiniones</h3>

                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="/comment/{{id}}" alt="">
                            </div>
                            <div class="comment-body">
                                <h3>{{name}}</h3>
                                <div class="meta">{{date}}</div>
                                <p>{{text}}</p>
                            </div>
                        </li>
                    </ul>




                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Deja tu comentario</h3>
                        <form action="/createCommentLocal/3" method="post" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="message">Comentario</label>
                                <input name="text" id="message" cols="30" rows="10" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="_csrf" value="">
                                <input type="submit" value="Enviar Comentario" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>

                </div>
            </div> <!-- .col-md-8 -->
        -->
            <div class="col-md-4 sidebar ">

            </div>
        </div>
    </div>
 <!-- .section -->

