



        <div class="form-group">
            <form [routerLink]="['/formevent']" class="p-5 contact-form">
                <input type="submit" value="Añadir Evento" class="btn py-3 px-4 btn-primary float-right botonDerecha">
            </form>



    <section class="ftco-section">



        <div class="container">

            <br>
            <div id="events">
            <div class="row">

                <div class="col-md-4 eldiv">
                    <div class="property-wrap ftco-animate fadeInUp ftco-animated">
                        <a href="" class="img" style="background-image: url(assets/images/ajedrez.jpeg)"></a>
                        <div class="text">
                              <h3><a href=""></a>Torneo Ajedrez</h3>
                            <ul class="property_list">
                                <li><img src="assets/images/calendario.png" height="16px" width="16px" />12/12/12 </li>
                                <li><img src="assets/images/personas.png" height="16px" width="16px" /> 5 </li>
                                <li><img src="assets/images/dolar.png" height="16px" width="16px" />15 </li>
                            </ul>
                            <span class="location">Biblioteca</span>
                            <a href="" class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>



            </div>
            </div>
            <div id="hasNextPage">
                <ul class="pagination justify-content-center pagination-sm" id="button-replace">

                    <button class="btn btn-accent" id="load-more">Cargar más</button>

                </ul>
            </div>
        </div>
    </section>


