    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">AYUNTAMIENTO CIEMPOZUELOS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link">INICIO</a></li>
                    <li class="nav-item"><a href="/gob" class="nav-link">GOBIERNO</a></li>
                    <li class="nav-item"><a href="/events" class="nav-link">EVENTOS</a></li>
                    <li class="nav-item"><a href="/locals" class="nav-link">LOCALES</a></li>
                    <li class="nav-item"><a href="/profile" class="nav-link">INICIAR SESIÓN/REGISTRO</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <div class="hero-wrap ftco-degree-bg" style="background-image: url('assets/images/background2.jpg');" data-stellar-background-ratio="0.5">
        <div class="mouse">
            <a href="#" class="mouse-icon">
                <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
            </a>
        </div>
    </div>

    <a [routerLink]="['/events']">Echa un
      vistazo</a>
    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(assets/images/about.jpg);">
                </div>
                <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                    <div class="heading-section p-md-5">
                        <h2 class="mb-4">Conoce Ciempozuelos</h2>
                        <p>Está situado al sur de la Comunidad de Madrid, y pertenece a la denominada Sagra Madrileña. El gentilicio es ciempozueleño/a</p>
                        <p>El municipio está perfectamente comunicado, ya que posee una estación de ferrocarril, actualmente de Cercanías Madrid, de la línea C-3, así como la autovía A-4 Madrid - Cádiz, que discurre por el oeste de la localidad. También
                            cuenta con una línea urbana ciruclar que recorre el municipio.</p>
                        <p>Cuenta con diferentes lugares y fechas de interés, como las fiestas patronales en honor a su patrona, la Virgen del Consuelo, que se celebran el segundo fin de semana del mes de septiembre, de viernes a martes.</p>
                        <p>También tiene 4 colegios públicos de educación infantil y primaria, 2 institutos de educación secundaria, así como la Escuela Universitaria de Enfermería y Fisioterapia "San Juan de Dios", de la Universidad Pontificia de Comillas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-counter img" id="section-counter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 py-4 mb-4">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="25104">0</strong>
                            <span>Habitantes</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 py-4 mb-4">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="478180">0</strong>
                            <span>Habitantes por kilómetro cuadrado</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 py-4 mb-4">
                        <div class="text text-border d-flex align-items-center">
                            <strong class="number" data-number="28350">0</strong>
                            <span>Código Postal</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 py-4 mb-4">
                        <div class="text d-flex align-items-center">
                            <strong class="number" data-number="567">0</strong>
                            <span>Metros de altitud</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                    <h2 class="mb-2">Últimas publicaciones ayuntamiento de Ciempozuelos</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-md-6 text-center align-self-stretch ftco-animate">
                    <a class="twitter-timeline" data-lang="es" data-height="700" data-theme="light" href="https://twitter.com/AytCiempozuelos?ref_src=twsrc%5Etfw">Tweets by AytCiempozuelos</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <a href="https://twitter.com/AytCiempozuelos?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="es" data-show-count="false">Follow @AytCiempozuelos</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <a href="https://twitter.com/intent/tweet?screen_name=AytCiempozuelos&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-lang="es" data-show-count="false">Tweet to @AytCiempozuelos</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-md-6 text-center align-self-stretch ftco-animate">
                    <div class="fb-page" data-href="https://es-es.facebook.com/aytciempozuelos" data-tabs="timeline" data-width="500" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://es-es.facebook.com/aytciempozuelos" class="fb-xfbml-parse-ignore">
                            <a href="https://es-es.facebook.com/aytciempozuelos">Ayuntamiento de Ciempozuelos</a>
                        </blockquote>
                    </div>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fes-es.facebook.com%2Faytciempozuelos&tabs=timeline&width=500&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="700"
                        style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </section>


    <br>
    <br>
    <br>
    <br>
    <br>+
    <section class="ftco-section ftco-agent ftco-no-pt">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">GOBIERNO</span>
                    <h2 class="mb-4">GOBIERNO MUNICIPAL</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 ftco-animate">
                    <div class="agent">
                        <div class="img">
                            <img src="assets/images/RaquelJimeno.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="desc">
                            <h3><a href="gobernTeam.html">Raquel Jimeno</a></h3>
                            <p class="h-info"><span class="location">Alcaldesa</span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ftco-animate">
                    <div class="agent">
                        <div class="img">
                            <img src="assets/images/RosaRevuelta.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="desc">
                            <h3><a href="gobernTeam.html">Rosa Revuelta</a></h3>
                            <p class="h-info"><span class="location">Concejala Educación</span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ftco-animate">
                    <div class="agent">
                        <div class="img">
                            <img src="assets/images/LuisPueyo.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="desc">
                            <h3><a href="gobernTeam.html">Luis Pueyo</a></h3>
                            <p class="h-info"><span class="location">Concejal Turismo </span> </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ftco-animate">
                    <div class="agent">
                        <div class="img">
                            <img src="assets/images/SandraPerez.jpg" class="img-fluid" alt="Colorlib Template">
                        </div>
                        <div class="desc">
                            <h3><a href="gobernTeam.html">Sandra Pérez</a></h3>
                            <p class="h-info"><span class="location">Concejala Personal</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="ftco-section ftco-no-pt">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h1>Métricas</h1>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
                    <div id="center">
                        <canvas id="userGraphic" width="100" height="50"></canvas>
                    </div>
                    <script>
                        var div_line_chart = document.getElementById("userGraphic");
                        var userGraphic = new Chart(div_line_chart, {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: [
                                    {
                                        label: "Usuarios registrados",
                                        fill: false,
                                        lineTension: 1,
                                        backgroundColor: "#428bca",
                                        borderColor: "#357ebd",
                                        borderCapStyle: 'butt',
                                        borderDash: [],
                                        borderDashOffset: 0,
                                        borderJoinStyle: 'miter',
                                        pointBorderColor: "#3276B1",
                                        pointBackgroundColor: "#3276B1",
                                        pointBorderWidth: 1,
                                        pointHoverRadius: 5,
                                        pointHoverBackgroundColor: "#3276B1",
                                        pointHoverBorderColor: "#3276B1",
                                        pointHoverBorderWidth: 2,
                                        pointRadius: 1,
                                        pointHitRadius: 10,
                                        data: [0],
                                    }
                                ]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: true,
                            }
                        });
                    </script>
                    <br>
                    <div id="center">
                        <canvas id="interactionGraphic" width="100" height="50"></canvas>
                    </div>
                    <script>
                        var div_line_chart = document.getElementById("interactionGraphic");
                        var interactionGraphic = new Chart(div_line_chart, {
                            type: 'bar',
                            scaleOverride: true,
                            scaleSteps: 1,
                            scaleStartValue: 0,
                            data: {
                                labels: ["Locales", "Eventos", "Comentarios"],
                                datasets: [
                                    {
                                        label: "Cantidad",
                                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                                        data: [],
                                    }
                                ]
                            },
                            options: {
                                legend: { display: false },
                                title: {
                                    display: true,
                                    text: 'Interacciones'
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>
