<br>
<br>
<br>
<br>
<div class="row" *ngIf="loginService.isAdmin()">
  <div class="col-6 mx-auto">
    <h1>Crear un nuevo local</h1>

    <form method="post" action="/locals" class="p-5 bg-light" enctype="multipart/form-data">

      <div class="form-group">
        <label class="register-event-form">Nombre Del Local</label>
        <input
          [(ngModel)]="store.name"
          type="text"
          name="name"
          class="form-control"
          placeholder="Nombre"
          required
        />
      </div>

      <div class="form-group">
        <label class="register-event-form">Dia apertura</label>
        <select [(ngModel)]="store.openDay" name="openDay">
          <option>-----</option>
          <option>Lunes</option>
          <option>Martes</option>
          <option>Miercoles</option>
          <option>Jueves</option>
          <option>Viernes</option>
          <option>Sabado</option>
          <option>Domingo</option>
        </select>
      </div>

      <div class="form-group">
        <label class="register-event-form">Día cierre</label>
        <select [(ngModel)]="store.closeDat" name="closeDay">
          <option>-----</option>
          <option>Lunes</option>
          <option>Martes</option>
          <option>Miercoles</option>
          <option>Jueves</option>
          <option>Viernes</option>
          <option>Sabado</option>
          <option>Domingo</option>
        </select>
      </div>

      <div class="form-group">
        <label class="register-event-form">Horario apertura</label>
        <input
          [(ngModel)]="store.openHour"
          name="openHour"
          type="time"
          class="form-control"
          required/>
      </div>

      <div class="form-group">
        <label class="register-event-form">Horario cierre</label>
        <input
          [(ngModel)]="store.closeHour"
          name="closeHour"
          type="time"
          class="form-control"
          required/>
      </div>

      <div class="form-group">
        <label class="register-event-form">Direccion</label>
        <input
          [(ngModel)]="store.street"
          type="text"
          name="street"
          class="form-control"
          placeholder="Lugar"
          required/>
      </div>
      <div class="form-group">
        <label class="register-event-form">Latitud</label>
        <input
          [(ngModel)]="store.latitude"
          type="text"
          name="latitude"
          class="form-control"
          placeholder="Latitud"
          required
        />
      </div>
      <div class="form-group">
        <label class="register-event-form">Longitud</label>
        <input
          [(ngModel)]="store.length"
          type="text"
          name="lenght"
          class="form-control"
          placeholder="Longitud"
          required
        />
      </div>
      <div class="control-group">
        <div class="controls">
          <a href="https://www.coordenadas-gps.com/" target="_blank">Pincha aqui para conseguir la latitud y longitud</a>
        </div>
      </div>


      <div class="form-group">
        <label class="register-event-form">Descripción</label>
        <textarea
          [(ngModel)]="store.description"
          name="description"
          rows="4"
          class="form-control"
          required>
                        </textarea>
      </div>

      <div class="form-group">
        <label class="register-event-form">Resúmen de la descripción</label>
        <textarea
          [(ngModel)]="store.frontdescription"
          name="frontdescription"
          rows="4"
          class="form-control"
          required>
                        </textarea>
      </div>


      <div class="form-group">
        <label class="register-event-form">Servicios</label>
        <textarea
          [(ngModel)]="store.services"
          name="services"
          rows="4"
          class="form-control"
          required>
                        </textarea>
      </div>


      <div class="form-group">
        <label class="register-event-form_img">Imagen principal</label>

        <div class="custom-file">

          <input
            type="file"
            name="image1"
            accept=".jpg, .jpeg"
            class="custom-file-input"
            id="imagenPrin"
            />
          <label class="custom-file-label" for="imagenPrin">Elegir imagen</label>
        </div>
      </div>

      <div class="form-group">
        <label class="register-event-form_img">Imagen secundaria *</label>

        <div class="custom-file">

          <input
            type="file"
            name="image2"
            accept=".jpg, .jpeg"
            class="custom-file-input"
            id="imagensec"/>
          <label class="custom-file-label" for="imagensec">Elegir imagen</label>
        </div>

      </div>

      <br>
      <div class="control-group">
        <div class="controls">
          <button
            (click)="newStore()"
            id="register"
            type="submit"
            class="btn btn-primary">Publicar
          </button>
        </div>
      </div>
      <!--<input type="hidden" name="_csrf" value="{{token}}">-->
    </form>
  </div>
</div>

<div *ngIf="!loginService.isAdmin()">
  <div class="hero-wrap ftco-degree-bg"  data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
          <div class="row no-gutters slider-text justify-content-center align-items-center">
              <div class="col-lg-8 col-md-6 d-flex align-items-end text-center containercenter">
                  <div class="text text-center containercenter">
                      <img src="../../../assets/images/404.png" style="width: 800px;padding-right: 0px;padding-left: 0px" class="mb-4"/>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
