
    <section class="ftco-section contact-section">
      <li>
          <button class="btn btn-primary navbar-btn float-right botonDerecha"  (click)="loginService.logOut()" [routerLink]="['/']" type="button">Cerrar Sesión</button>
      </li>

      <div class="row block-9 justify-content-center mb-5">
          <h1 class="text-center">Perfil</h1>
      </div>
      <div class="row block-9 justify-content-center mb-5">
          <div class="col-md-2 mb-md-4">
              <img class="profile-image" src="https://localhost:8443/api/users/{{loginService.currentUser().id}}/image" alt="Image placeholder" height="220" width="220">
          </div>
          <div class="col-md-6 mb-md-4">
              <div class="profile-block">
                  <h2>Nombre y apellidos:</h2>
                  <p class="profile-p" id="profile-name">{{loginService.currentUser().name}} </p>
              </div>
              <br>
              <div class="profile-block">
                  <h2>Correo:</h2>
                  <p class="profile-p" id="profile-mail">{{loginService.currentUser().mail}}</p>
              </div>
              <br>
              <div class="profile-block">
                  <h2>Descripcion:</h2>
                  <p class="profile-p" id="profile-presentation">{{loginService.currentUser().description}}</p>
              </div>
              <br>
              <div class="profile-block">
                  <h2>Insignias:</h2>

                  <img src ="assets/images/registered.png"/>
                  <p>¡Te has registrado en nuestra pagina!</p>

                  <img src="assets/images/registered.png"/>

                  <p>Comentador de nivel: 3</p>

                  <img src="assets/images/commentbadge1.png"/>

                  <p>Participante de nivel: 2</p>

              </div>
          </div>
          <div class="col-md-3 mb-md-4">
              <div>
                  <h2 class="text-center">Historial</h2>
                  <div class="global">
                      <div id="messages">

                          <div class="history-text">Te has inscrito en: <b>Furbo</b></div>


                          <div class="history-text">Has comentado en: <b>Lol</b></div>

                      </div>
                  </div>
              </div>
              <div>
                  <br>
                  <h2 class="text-center">Evento recomendado</h2>
                  <div class="global2">



                  </div>
              </div>
          </div>
      </div>

  </section>
