
    <br>
    <br>
    <br>
    <br>
    <div class="row" *ngIf="loginService.isAdmin()">
        <div class="col-6 mx-auto">
            <h1>Publica un nuevo Evento</h1>

            <form method="post" action="/events" class="p-5 bg-light" enctype="multipart/form-data">

                <div class="form-group">
                    <label class="register-event-form">Nombre Del Evento</label>
                    <input
                            [(ngModel)]="event.name"
                            type="text"
                            name="eventName"
                            class="form-control"
                            placeholder="Nombre"
                            required/>
                </div>

                <div class="form-group">
                    <label class="register-event-form">Lugar</label>
                    <input
                            [(ngModel)]="event.place"
                            type="text"
                            name="place"
                            class="form-control"
                            placeholder="Lugar"
                            required/>
                </div>
                <div class="form-group">
                    <label class="register-event-form">Día</label>
                    <input
                            [(ngModel)]="event.date"
                            name="date"
                            type="datetime-local"
                            class="form-control"
                            required/>
                </div>

                <div class="form-group">
                    <label class="register-event-form">Etiqueta 1</label>
                    <select [(ngModel)]="event.tag1" name="tag1">
                        <option>Deporte</option>
                        <option>Cultura</option>
                        <option>Musica</option>
                        <option>Videojuegos</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="register-event-form">Actividades principales (Diferentes actividades que se van a realizar)</label>
                    <textarea
                        [(ngModel)]="event.activities"
                        type="text"
                        name="activities"
                        rows="4"
                        class="form-control"
                        required>
                    </textarea>

                </div>
                <div class="form-group">
                    <label class="register-event-form">Descripción</label>
                    <textarea
                            [(ngModel)]="event.description"
                            name="description"
                            rows="4"
                            class="form-control"
                            required>
                        </textarea>
                </div>

                <div  id="div-mostrar" class="form-group">
                    <label class="register-event-form">Premio</label>
                    <input
                            [(ngModel)]="event.reward"
                            type="text"
                            name="reward"
                            class="form-control"
                            placeholder="Premio (indicar unidades)"/>
                </div>


                <div class="form-group">
                    <label class="register-event-form">Máximo de participantes</label>
                    <input
                            [(ngModel)]="event.people"
                            type="number"
                            name="people"
                            class="form-control"
                            id="register-event-form"
                            placeholder="Máximo de participantes"
                            required/>
                </div>

                <div class="form-group">
                    <label class="register-event-form">Tasa de inscripción</label>
                    <input
                            [(ngModel)]="event.price"
                            type="number"
                            name="price"
                            class="form-control"
                            id="registration fee"
                            placeholder="Tasa de inscripción (euros)"
                            required/>
                </div>

                <div class="form-group">
                    <label class="register-event-form_img">Imagen</label>

                    <div class="custom-file">

                        <input
                                [(ngModel)]="event.image"
                                type="file"
                                name="imageField"
                                accept=".jpg, .jpeg"
                                class="custom-file-input"
                                id="inputGroupFile01"
                                />
                        <label class="custom-file-label" for="inputGroupFile01">Elegir imagen</label>
                    </div>

                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                        <button
                                (click)="newEvent()"
                                id="register"
                                type="submit"
                                class="btn btn-primary">Publicar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="!loginService.isAdmin()">
        <div class="hero-wrap ftco-degree-bg"  data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text justify-content-center align-items-center">
                    <div class="col-lg-8 col-md-6 d-flex align-items-end text-center containercenter">
                        <div class="text text-center containercenter">
                            <img src="../../../assets/images/404.png" style="width: 800px;padding-right: 0px;padding-left: 0px" class="mb-4"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
