{{>header}}

<form action="/editUser" method="post">
    <h2>{{user.name}}</h2>
    <input type="hidden" name="id" value="{{user.id}}"/>
    <div>
        <label>Nombre y Apellidos: </label>
        <input name="title" value="{{user.name}}" placeholder="Nombre" required/>
    </div>
    <div>
        <label>Correo: </label>
        <input name="title" value="{{user.mail}}" placeholder="Correo" required/>
    </div>
    <div>
        <label>Descripción: </label>
        <input name="title" value="{{user.description}}" placeholder="Descripción" required/>
    </div>

    <div class="form-group">
        <label class="register-event-form_img">Imagen</label>

        <div class="custom-file">

            <input
                    type="file"
                    name="imageField"
                    accept=".jpg, .jpeg"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    required/>
            <label class="custom-file-label" for="inputGroupFile01">Elegir imagen</label>
        </div>



        <input type="hidden" name="_csrf" value="{{token}}"/>
    <p>
        <button onclick="location.href='/profile/{{user.id}}'; return false;">Cancel</button>
        <input type="submit" value="Save"/>
    </p>
</form>

{{>footer}}