{{> header}}
<div class="hero-wrap ftco-degree-bg"  data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-end text-center containercenter">
                <div class="text text-center containercenter">
                    <img src="images/404.png" style="width: 800px;padding-right: 0px;padding-left: 0px" class="mb-4"/>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}