{{> header}}
<br>
<br>
<br>

    {{#admin}}
    <div class="form-group" >
        <input type="submit" value="Añadir Evento" class="btn btn-primary py-3 px-4 float-right botonDerecha" onclick="window.location = '/FormEvent'" >

    </div>
    {{/admin}}

    <section class="ftco-section">



        <div class="container">

            <br>
            <div id="events">
            <div class="row">
                {{#event}}
                <div class="col-md-4 eldiv">
                    <div class="property-wrap ftco-animate fadeInUp ftco-animated">
                        <a href="/event/{{id}}" class="img" style="background-image: url(/event/{{id}}/image)"></a>
                        <div class="text">
                            <h3><a href="/event/{{id}}">{{name}}</a></h3>
                            <ul class="property_list">
                                <li><img src="/images/calendario.png" height="16px" width="16px" /> {{date}}</li>
                                <li><img src="/images/personas.png" height="16px" width="16px" /> {{people}}</li>
                                <li><img src="/images/dolar.png" height="16px" width="16px" /> {{price}}</li>
                            </ul>
                            <span class="location">{{place}}</span>
                            <a href="/event/{{id}}" class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {{/event}}


            </div>
            </div>
            <div id="hasNextPage">
                <ul class="pagination justify-content-center pagination-sm" id="button-replace">
                    {{#hasNext}}
                    <button class="btn btn-accent" id="load-more">Cargar más</button>
                    {{/hasNext}}
                </ul>
            </div>
        </div>
    </section>


    {{> footer}}