{{> header}}
<br>
<br>
<br>

    {{#admin}}
    <div class="form-group" >
        <button type="submit"  class="btn btn-primary  float-right botonDerecha" onclick="window.location = '/FormEvent'" >Añadir Evento </button>

    </div>
    {{/admin}}

    <section class="ftco-section">



        <div class="container">

            <br>
            <div class="row">
                {{#event}}
                <div class="col-md-4">
                    <div class="property-wrap ftco-animate">
                        <a href="/event/{{id}}" class="img" style="background-image: url(/event/{{id}}/image)"></a>
                        <div class="text">
                            <h3><a href="/event/{{id}}">{{name}}</a></h3>
                            <ul class="property_list">
                                <li><img src="/images/calendario.png" height="16px" width="16px" /> {{date}}</li>
                                <li><img src="/images/personas.png" height="16px" width="16px" /> {{people}}</li>
                                <li><img src="/images/dolar.png" height="16px" width="16px" /> {{price}}</li>
                            </ul>
                            <span class="location">{{place}}</span>
                            <a href="/event/{{id}}" class="d-flex align-items-center justify-content-center btn-custom">
                                <span class="ion-ios-link"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {{/event}}


            </div>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <button>Cargar más</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{> footer}}