{{> header}}
<br>
<br>
<br>
{{#admin}}

    <div class="form-group">
        <form action="/FormLocal" class="p-5 contact-form">
            <input type="submit" value="Añadir Local" class="btn py-3 px-4 btn-primary float-right botonDerecha">
        </form>

    {{/admin}}


      <section class="ftco-section">
      <div class="container">
          <div id="locals">
        <div class="row d-flex">
            {{#local}}
          <div class="col-md-3 d-flex ftco-animate eldiv property-wrap fadeInUp ftco-animated eldiv">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="heading"><a href="/local/{{id}}">{{name}}</a></h3>
                <div class="meta mb-3">
                  <br>
                  
                </div>
                <a href="/local/{{id}}" class="block-20 img" style="background-image: url(/local/{{id}}/image1);">
	              </a>
                <p>{{frontdescription}}</p>
              </div>
            </div>
          </div>
            {{/local}}

        </div>
              </div>
          <div id="hasNextPage2">
              <ul class="pagination justify-content-center pagination-sm" id="button-replace">
                  {{#hasNext}}
                  <button class="btn btn-accent" id="load-more2">Cargar más</button>
                  {{/hasNext}}
              </ul>
          </div>
      </div>
    </section>
    {{> footer}}