{{> header}}
<br>
<br>
<br>
<br>
{{#admin}}
<div class="form-group" >
    <input type="submit" value="Eliminar Local" class="btn btn-danger py-3 px-4 float-right botonDerecha" onclick="location.href='/removeLocal/{{local.id}}'">

</div>
{{/admin}}


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-last ftco-animate">
                <h1 class="mb-3">{{local.name}}</h1>
                <p>{{local.description}}</p>
                <p>
                    <img src=/local/{{id}}/image1 alt="" class="img-fluid">
                </p>
                <h2 class="mb-3 mt-5">Servicios</h2>
                <p>{{local.services}}</p>
                <p>
                    {{#local.imageField2}}
                    <img src="/local/{{id}}/image2" alt="" class="img-fluid">
                    {{/local.imageField2}}
                </p>
                <h3>Cuándo y dónde estamos</h3>
                <p><b>Horario:</b></p>
                <p>De {{local.openDay}} a {{local.closeDay}}, de {{local.openHour}} a {{local.closeHour}}</p>
                <p><b>Dirección:</b></p>
                <p>{{local.street}}</p>

                <div>
                    <div id = 'map'></div>

                    <script>
                        var map = L.map('map').
                              //latitude      length
                        setView([40.3361179,-3.8771203],
                            15);
                        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                            maxZoom: 18
                        }).addTo(map);

                        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                            maxZoom: 18
                        }).addTo(map);

                        L.control.scale().addTo(map);
                                 //latitude     length
                        L.marker([40.3361179,-3.8771203],{draggable: true}).addTo(map);
                    </script>
                </div>

                <div class="pt-5 mt-5">
                    <h3 class="mb-5">Opiniones</h3>
                    {{#local.comment}}
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="/comment/{{id}}" alt="">
                            </div>
                            <div class="comment-body">
                                <h3>{{name}}</h3>
                                <div class="meta">{{date}}</div>
                                <p>{{text}}</p>
                            </div>
                        </li>
                    </ul>
                    {{/local.comment}}


                    {{#logged}}
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Deja tu comentario</h3>
                        <form action="/createCommentLocal/{{id}}" method="post" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="message">Comentario</label>
                                <input name="text" id="message" cols="30" rows="10" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="_csrf" value="{{token}}">
                                <input type="submit" value="Enviar Comentario" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                    {{/logged}}
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">

            </div>
        </div>
    </div>
</section> <!-- .section -->

{{>footer}}