{{> header}}

    <section class="ftco-section contact-section">
        <li><form action="/logout" method="post">
            <button class="btn btn-primary navbar-btn float-right botonDerecha" type="submit">Cerrar Sesión</button>
            <input type="hidden" name="_csrf" value="{{token}}" />
        </form></li>

        <div class="row block-9 justify-content-center mb-5">
            <h1 class="text-center">Perfil</h1>
        </div>
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-2 mb-md-4">
                <img class="profile-image" src="/user/{{userName}}/image" alt="Image placeholder" height="220" width="220">
            </div>
            <div class="col-md-6 mb-md-4">
                <div class="profile-block">
                    <h2>Nombre y apellidos:</h2>
                    <p class="profile-p" id="profile-name">{{userName}}</p>
                </div>
                <br>
                <div class="profile-block">
                    <h2>Correo:</h2>
                    <p class="profile-p" id="profile-mail">{{userMail}}</p>
                </div>
                <br>
                <div class="profile-block">
                    <h2>Descripcion:</h2>
                    <p class="profile-p" id="profile-presentation">{{userDesc}}</p>
                </div>
                <br>
                <div class="profile-block">
                    <h2>Insignias:</h2>

                    <img src ="images/registered.png"/>
                    <p>¡Te has registrado en nuestra pagina!</p>
                    {{#commentbadge}}
                    <img src="images/{{commentbadge}}"/>
                    {{/commentbadge}}
                    {{#commentlevel}}
                    <p>Comentador de nivel: {{commentlevel}}</p>
                    {{/commentlevel}}

                </div>
            </div>
            <div class="col-md-3 mb-md-4">
                <div>
                    <h2 class="text-center">Historial</h2>
                    <div id="global">
                        <div id="messages">
                            {{#eventlist}}
                            <div class="history-text">Te has inscrito en: {{.}}</div>
                            {{/eventlist}}
                            {{#commentlist}}
                            <div class="history-text">Has comentado en: {{.}}</div>
                            {{/commentlist}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row block-9 justify-content-center mb-5">
            <div class="form-group">
                <form action="/editProfile" class="p-5 contact-form">
                    <input type="submit" value="Editar perfil" class="btn py-3 px-4 btn-primary">
                </form>
            </div>
    </section>

    {{> footer}}